@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;500&display=swap');


:root {
  --yellow: #ffc778;
  --purple: #6c74d1;
  --grey: #ebebeb;
}

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}

.outer-wrapper {
  height: 100vw;
  transform: rotate(-90deg) translateX(-100vh);
  transform-origin: top left;
  position: relative;
}

.wrapper {
  display: flex;
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
  width: 600vw;
  height: 430vh;
  position: relative;
}

.page {
  padding-top: 5rem;
  width: 100vw;
  height: 100vh;
}

.about {
  width: 100vw;
  height: 100%;
  max-width: 100vw;
  position: relative;
}

.collapse.navbar-collapse {
  justify-content: center;
}
.navbar {
  position: fixed;
  top: 0;
  z-index: 9999;
  background-color: #fff;
  width: 100%;
}
.nav-item,
.nav-link {
  padding: 0.1rem 0.75rem;
}

.nav-item.yellow.active {
  background: var(--yellow);
  border-radius: 20px 20px 20px 20px;
  transition: all 0.2s linear;
}

.nav-item.yellow.active .nav-link {
  color: #000;
}

.nav-item.active {
  background: var(--purple);
  border-radius: 20px 20px 20px 20px;
  transition: all 0.2s linear;
}

.nav-item.active .nav-link {
  color: #fff;
}

a.nav-link {
  font-weight: 700;
  color: #000;
}

.showcase__container {
  position: relative;
}

.showcase__partialbg {
  width: 72%;
  height: 30rem;
  background: var(--grey);
  border-radius: 0 1rem 1rem 0;
  margin-left: auto;
  margin-right: 2rem;
  position: relative;
}

.showcase__circle {
  position: absolute;
  top: 7.5%;
  left: 3%;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  background: var(--yellow);
  z-index: 1;
}
.showcase__intro {
  z-index: 5;
  position: absolute;
  right: 10%;
  top: 20%;
}

.showcase__image--hero-1 {
  position: absolute;
  top: 10%;
  left: -37%;
}

.yellow_dot {
  position: absolute;
  top: -12%;
  left: 2%;
  z-index: 5000;
}

.dot-website{
  top: -20%;
}

.introduce {
  font-weight: 700;
  z-index: 2;
  line-height: 4rem;
}

.introduce--name {
  margin-top: 2rem;
  font-weight: 700;
}

.shortdot {
  position: absolute;
  top: 0;
  right: -120%;
}

.hightlight {
  color: var(--yellow);
}

.showcase__linear {
  width: 17.5rem;
  height: 3px;
  background: var(--yellow);
  position: absolute;
  bottom: 35%;
  left: 0%;
}

.showcase__linear--block {
  width: 1.2rem;
  height: 3px;
  background: var(--grey);
  position: absolute;
  bottom: 35%;
  left: calc(17.5rem - 2.5rem);
}

.cta {
  width: 30%;
  position: absolute;
  bottom: 10%;
  right: -5%;
  color: var(--purple);
  display: flex;
  align-items: center;
}

.cta h4 {
  display: inline-block;
  width: 75%;
  font-size: 1rem;
  font-weight: 700;
  position: relative;
}

.btn.explore-btn {
  padding: 0;
  width: 2.5rem;
  height: 2.5rem;
  background: var(--purple);
  border-radius: 50%;
  box-shadow: 0 0 0.4rem 0.1rem var(--purple);
  position: absolute;
  top: 13px;
  left: 10px;
}

.cta__underline {
  position: absolute;
  left: 0;
  bottom: 15%;
  width: 70%;
  height: 3px;
  background: var(--purple);
}

.fa-angle-right {
  color: #fff;
}
/* GREETING */
.greeting {
  width: 100%;
}

.greeting__wrapper {
  height: 30rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 2rem 15rem;
  position: relative;

}
.greeting__wrapper:nth-child(2) {
  flex-direction: row-reverse;
  background-color: var(--grey);
}
.greeting__wrapper:nth-child(4) {
  flex-direction: row-reverse;
}

.greeting__icon__wrapper {
  width: 50%;
  display: flex;
  justify-content: center;
}

.greeting__content__wrapper {
  width: 50%;
}
.white-circle-top {
  position: absolute;
  left: 0;
  top: -10%;
}
.white-circle-btm {
  position: absolute;
  right: 0;
  bottom: -15%;
  transform: rotate(-90deg);
}
.longdot {
  margin-left: 7.5rem;
}
.shortdot-2 {
  position: absolute;
  left: -10%;
  top: 40%;
}

.gretting__circle {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.display-word {
  position: absolute;
}

/* Website */

.website {
  max-width: 100vw;
  position: relative;
}

.bg-2 {
  width: 100vw;
  height: 40rem;
  position: relative;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  justify-self: start;
}

.showcase__intro.intro-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.hero-2-wrapper {
  position: relative;
}

.ball-1 {
  position: absolute;
  top: 0;
  left: 0;
  animation: soarDown  8s linear infinite;
}
.ball-2 {
  position: absolute;
  bottom: 0;
  right: 0;
  animation: soar  8s linear infinite;
}
.ball-3 {
  position: absolute;
  top: 0;
  right: 0;
  animation: soarLeft  7s linear infinite;
}

.greeting__wrapper.reverse {
  flex-direction: row;
}

.align-center {
  text-align: center;
}

.introduce {
  font-weight: 700;
  z-index: 2;
  line-height: 4rem;
}

.left {
  width: 30%;
}
.daruma {
  width: 20rem;
}
.yaksri {
  width: 25rem;
}

.sasom {
  width: 25rem;
  z-index: 10;
}

.right {
  width: 30%;
}
.bg-grey {
  background-color: var(--grey);
}

.zindex {
  z-index: 10;
}

.longdot-2 {
  position: absolute;
  bottom: 10%;
  left: 10%;
  z-index: 0;
}

.reverse-row {
  flex-direction: row-reverse;
}
/* Footer */

.footer {
  background: var(--yellow);
  width: 600vw;
  position: absolute;
  height: 5rem;
  bottom: -10%;
  left: 0;
}

.footer__content {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* APP$$$$$$$$$$$$$$$$$$$$$$$$$$$ */
.app {
    max-width: 100vw;
    position: relative;
  }
  .hero3{
    margin-left: -15rem;
  }

  .bg-app{
    height: 100%;
  }

  .name-app{
      margin-right: -12rem;
      margin-top: 10rem;
      font-size: 2.5rem;
  }

  .showcase-app{
      height: 40rem;
  }

  .d-flex{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: start;
  }


  .unchi-top{
    position: absolute;
    top: 5%;
    left: -8%;
  }

  .unchi-bottom{
    position: absolute;
    bottom: 3%;
    right: -2%;
  }

  .longdot-2.longdot-app{
    top: -7%;
  }



  .huawei{
    margin: 0.5rem 0.5rem;
  }

  .fw-700{
    font-weight: 700;
  }


  /* BACK OFFICE */

  .backoffice{
    max-width: 100vw;
    position: relative;
  }
  .greeting__circle.back{
    position: relative;
    z-index: 20;
  }

  
    .ui-back{
      position: relative;
      z-index: 10;
    }
  .donut{
    position: absolute;
    top: -40%;
    left: -15%;
z-index: 0;
  }
  .grey-circle-big{
    position: absolute;
    right: -15%;
    bottom: -30%;
  }

  .unique__content__wrapper{
    position: relative;
  }

  .grey-long-line{
    position: absolute;
    top: 35%;
    height: 40%;
    width: 100%;
    background-color: var(--grey);
  }
  .pos-relative{
    position: relative;
  }


  /* PAGE POS */
  .pos {
    max-width: 100vw;
    position: relative;
  }

  .cloud-2{
    position: absolute;
    top: 25%;
    left: 15%;
    animation: cloud-2 10s linear infinite;
  }

  .cloud-3{
    animation: cloud-2 6s linear infinite;
    animation-delay: 0.2s;
  }

  .cloud-5{
    position: absolute;
    right: 0;
    bottom: 0;
    animation: cloud-2 7s linear infinite;
  }

  .cloud-6{
    position: absolute;
    bottom: 5%;
    animation: cloud-2 11s linear infinite;
  }

  .cloud-6-2{
    position: absolute;
    right: 0;
    top: 25%;
    z-index: 1;
    animation: cloud-2 12s linear infinite;
  }

  .mobile{
    z-index: 20;
    position: relative;
  }

  .circle-pos-top{
    top: 60%;
  }
  .circle-pos-bottom{
    bottom: 70%;
    transform: rotate(90deg);
  }

  /* VDO & Graphic */
  .graphic {
    max-width: 100vw;
  }
  .vdo__container{
    padding: 0 10rem;
  }

  .icon_and_content_container{
    width: 12.5rem;
    padding: 0 1.5rem;
    align-items: center;
    text-decoration: none;
    color: inherit;
    transition: transform 200ms ease-in-out;
  }
  .icon_and_content_container:hover{
    color: #000;
    transform: scale(1.1);
  }

  .title{
    font-weight: 700;
    width: 100%;
    text-align: center;
  }

  .orange-text{
    color: #F37453;
    font-weight: 700;
  }

  .jobexpress-color{
    color: #1F325F;
    font-weight: 700;
  }

  .purple-text{
    color: var(--purple);
    font-weight: 700;
  }

  .blue-text{
    font-weight: 700;
    color: #0F70E1;
  }
  .paleblue-text{
    font-weight: 700;
    color: #00ACEA;
  }
  .naremit-text{
    font-weight: 700;
    color: #245DDC;
  }

  .nareeya-text {
    font-weight: 700;
    color: #D7AD75;
  }

  .daruma-text {
    font-weight: 700;
    color: #CC232A;
  }

  .yellow-text {
    color: var(--yellow);
    font-weight: 700;
  }
  .red-text {
    color: #CC232A;
    font-weight: 700;
  }
  .green-text {
    color: #03B066;
    font-weight: 700;
  }

  .backoffice-text{
    color: #619ED7;
    font-weight: 700;
    position: absolute;
    top: 10%;
    left: 20%;
    z-index: 7;
  }
  .double-circle{
    position: absolute;
    top: 2%;
    left: 25%;
    z-index: 5;
    animation: soarRight 7s linear infinite;
  }
  

  .grey-circle{
    position: absolute;
    bottom: 30%;
    left: 15%;
    z-index: 20;
    animation: soar 8s linear infinite;
  }
  .hero4{
    z-index: 6;
  }

  .pos-text{
    color: #78C2A4;
    font-weight: 700;
    position: absolute;
    top: -25px;
    right: 0;
  }
  .web-showcase{
    font-weight: 500;
  }

  .edu-text{
    color: #E97131;
    font-weight: 700;
  }


  .yaksri-sub-color {
    color: #FFBC5E;
    font-weight: 500;
  }

  .link{
    text-decoration: none;
    color: inherit
  }

  .sasom-text {
    color: #FB9A2B;
    font-weight: 700;
  }

  .yellow{
    color: var(--yellow);
  }

  .advert {
    color: #FFB9B5;
  }

  .log {
    color: #C754;
  }

  .vdo2 {
    color: #FF9500;
  }

  .booth {
    color: #619ED7
  }

  .prop {
    color: #59AF63;
  }

  .picweb {
    color: #6C74D1;
  }

  .gift {
    color: #B99565;
  }

  .ret {
    color: #639BC2;
  }

  .grey-text{
    font-weight: 700;
    color: var(--grey);
  }

  .plant-right{
    position: absolute;
    right: 0%;
    bottom: 5%;
  }
  .brush-left {
    position: absolute;
    left: 0%;
    bottom: 5%;
  }

/* Animation and Keyframe */

.spinner {
  width: 75px;
  height: 75px;
  position: absolute;
  right: 0;
}

.spinner div {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 100%;
  border: 8px solid transparent;
  border-top-color: var(--purple);
  border-radius: 50%;
  animation: spinnerOne 1.2s linear infinite;
}

.spinner div:nth-child(2) {
  border: 8px solid transparent;
  border-bottom-color: var(--purple);
  animation: spinnerTwo 1.2s linear infinite;
}

@keyframes spinnerOne {
  0% {
    transform: rotate(0deg);
    border-width: 10px;
  }
  50% {
    transform: rotate(180deg);
    border-width: 1px;
  }
  100% {
    transform: rotate(360deg);
    border-width: 10px;
  }
}

@keyframes spinnerTwo {
  0% {
    transform: rotate(0deg);
    border-width: 1px;
  }
  50% {
    transform: rotate(180deg);
    border-width: 10px;
  }
  100% {
    transform: rotate(360deg);
    border-width: 1px;
  }
}


@keyframes soar {
  50% {
    transform: translateY(-5rem);
  }

  100% {
    transform: translateY(0rem);
  }

}

@keyframes soarDown {
  50% {
    transform: translateY(8rem);
  }

  100% {
    transform: translateY(0rem);
  }
}

@keyframes soarRight {
  50% {
    transform: translateX(5rem);
  }

  100% {
    transform: translateX(0rem);
  }
}


@keyframes soarLeft {
  50% {
    transform: translateX(-5rem);
  }

  100% {
    transform: translateX(0rem);
  }
}


@keyframes cloud-2 {
  25%{
    transform: translateX(2rem) scaleX(1.2);
  }
  50% {
    transform: translateX(5rem) scaleX(1);
  }

  75%{
    transform: translateX(2rem) scaleX(1.2);
  }
  100%{
    transform: translateX(0) scaleX(1);
  }
}


@keyframes rotate {
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Media Queries */
@media screen and (max-width: 1300px){
  .greeting__wrapper{
    padding: 2rem 5rem;

  }

  .shortdot-2{
    left: -30%;
  }

  .salebox{
    width: 18rem;
  }

  .sasom{
    width: 17rem;
  }
  .sasom-text{
    font-family: 'Kanit';
  }

  .img-naremit{
    width: 20rem;
  }

  .daruma-2{
    width: 20rem;
  }
  .mobile{
    width: 20rem;
  }

  .yaksri{
    width: 20rem;
  }
  .ui-back{
    width: 22.5rem;
  }

  .content-2{
    width: 20rem;
  }

}

@media screen and (max-width: 1000px){
  .brush-left,
  .plant-right{
    display: none;
  }
  .hero-w{
    max-width: 90vw;
  }
  .bg-2 {
    height: 30vh;
  }
  .unchi-top,
  .unchi-bottom{
    width: 10rem;
  }
  .grey-circle{
    width: 1rem;
  }
  .showcase__partialbg{
    width: 90%;
  }
  .showcase__intro {
    z-index: 5;
    position: absolute;
    right: 0%;
    top: 20%;
  }
  .unique{
    padding: 1rem 4rem;
  }
  .hightlight{
    color: var(--purple);
  }
  .cta{
    width: 60%;
  }
}

@media screen and (max-width: 770px){
  .hero-w{
    max-width: 80vw;
  }
  .img-w{
    width: 14rem;
  }

  .bg-2 {
    height: 20vh;
  }
  .showcase__partialbg{
    height: 25rem;
  }
  .introduce{
    position: relative;
    flex-direction: row;
  }
  .bg-app{
    flex-direction: row;
  }
  .column-app{
    flex-direction: column;
  }

  .app-h{
    height: 30vh;
  }
  .name-app{
    margin-right: 0;
    margin-top: 0;
    font-size: 2.5rem;
}
.web-showcase{
  height: 20rem;
}
.shortdot{
  display: none;
}
.hero4{
  width: 20rem;
}
.greeting__wrapper{
  padding: 1rem;
}
.google{
  width: 5rem;
}
.huawei{
  width: 4rem;
}
.huawei:nth-child(3){
  width: 5rem;
}
.unique{
  padding: 1rem 3rem;
}
}